name: Hourly Cron Job

on:
    schedule:
        # 毎時0分に実行 (UTC)
        - cron: "*/5 * * * *"
    # GitHubのUIから手動で実行できるようにする
    workflow_dispatch:

jobs:
    cron-job:
        runs-on: ubuntu-latest
        steps:
            - name: Simple Echo
              run: echo "Cron job is running!"
